
body {
  background-color: rgb(58, 131, 219);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(238, 229, 68);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(10, 76, 10);
  z-index: 2;
}

#snake-head {
  background-color: darkgreen;
}

.apple {
  background-color: rgb(206, 46, 46);
  z-index: 1;
}